<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="#">
	<head>
		<title>Rooms - choose available room</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
				<!-- MATERIAL STYLE -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css" />

    	<!-- MATERIAL DATATABLE STYLE -->	
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" />
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.material.min.css" />
		
   		<!-- CUSTOM STYLES -->
		<link rel="stylesheet" th:href="@{/css/reset.css}" />
		<link rel="stylesheet" th:href="@{/css/style-dash-layout.css}" />
		
		<!-- BOOTSTRAP STYLE -->
		<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" />
 		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	
		<!-- GOOGLE FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Miriam+Libre:400,700|Source+Sans+Pro:200,400,700,600,400italic,700italic" rel="stylesheet" />
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css' />
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css' />
		
		<!-- MATERIAL ICONS -->	
		<link rel="stylesheet" th:href="@{/css/material-icons.css}" />
	
		<!-- MODERNIZR SCRIPT -->
		<script th:src="@{/js/modernizr.js}"></script>
    
   		<!-- JQUERY SCRIPTS -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="http://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
		<script th:src="@{/js/jquery.menu-aim.js}"></script>
 		
		<!-- RESPONSIVE DATATABLE SCRIPT -->	 
		<script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
		<script src="https://cdn.datatables.net/responsive/2.1.1/js/responsive.bootstrap.min.js"></script>
		
		<!-- MATERIALIZE CUSTOM STYLE -->	
		<link rel="stylesheet" th:href="@{/css/materialize.min.css}" />
		
		<script th:inline="javascript">
			/*<![CDATA[*/
				$(document).ready(function() {
				  $('#datatable-book-room').dataTable({
					"data": /*[[${rooms}]]*/,
					 bAutoWidth: false,
					 "bPaginate": false
					 
				  });
				});
			/*]]>*/
		</script>
		
					
		<!-- CUSTOM SCRIPT -->
		<script th:src="@{/js/main.js}"></script>
		
				<!-- MATERIALIZE SCRIPT -->	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
		

	</head>
	
	<body>

			<main class="cd-main-content-home" style="padding: 15px 15px 15px 15px !important">
        		<div class="card material-table">
      				<div class="table-header">
       					<span class="table-title">Available rooms</span>
      				</div>
      				<div class="table-responsive">
	     				<table id="datatable-book-room" style=".dataTables_filter input { width: 1px !important}" >
	        				<thead>
	       						<tr>
	       							<th style="color:#ffffff !important"></th>
	           						<th>Name</th>  
									<th>Building</th>      						
	            					<th style="color:#ffffff !important"></th>
	          					</tr>
	       	 				</thead>
      					</table>
      				</div>				
    			</div>
        	</main>
        	
	</body>
</html>